# Python sistem dosyaları
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Veri dosyaları (Çok büyük oldukları için Drive'dan paylaşılmalı)
data/raw/*.csv
data/raw/*.xlsx
data/processed/*.csv
!data/processed/ready_data.csv

# Model çıktıları ve Checkpointler (En önemli kısım)
models/
outputs/
*.bin
*.pt
*.pth
*.safetensors

# VS Code ayarları
.vscode/

# Jupyter Notebook yedekleri
.ipynb_checkpoints/
