# Python sistem dosyaları
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Veri dosyaları
data/

# Model çıktıları ve Checkpointler
outputs/
*.bin
*.pt
*.pth

# --- KRİTİK DEĞİŞİKLİK ---
# Sadece devasa model ağırlık dosyasını engelliyoruz
models/**/model.safetensors
models/**/pytorch_model.bin

# VS Code ayarları
.vscode/

# Jupyter Notebook yedekleri
.ipynb_checkpoints/